<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>337763662775-uv37vom1ae32abinkk6pbep1dd8uq6vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337763662775-uv37vom1ae32abinkk6pbep1dd8uq6vg</string>
	<key>API_KEY</key>
	<string>AIzaSyDxVCap-tWW4cQuBj007PztM3GGryHtHz4</string>
	<key>GCM_SENDER_ID</key>
	<string>337763662775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gharary.Shahrvandsho</string>
	<key>PROJECT_ID</key>
	<string>shahrvandsho-ios11</string>
	<key>STORAGE_BUCKET</key>
	<string>shahrvandsho-ios11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337763662775:ios:3d8662bcf7dbb90e</string>
	<key>DATABASE_URL</key>
	<string>https://shahrvandsho-ios11.firebaseio.com</string>
</dict>
</plist>